<div class="alert alert-info">
  <p class="mb-0">
    To find your <strong>Key</strong> and <strong>Salt</strong>, go to the 
    <%= external_link_to 'PayU dashboard', 'https://payu.in/business/developer/api', class: 'alert-link' %>
    and add both <strong>Test</strong> and <strong>Live</strong> credentials in the respective fields.
  </p>
</div>